<full-calendar #calendar id= "calendar" deepChangeDetection="true" [options]="this.calendarOptions"></full-calendar>

<div #fullCalModal id="fullCalModal" class="modal show-modal">
    <div class="modal-dialog">
        <div class="modal-header">
            <h5 #modalTitle id="modalTitle" class="center modal-title"></h5>
        </div>
        <div class="modal-content">
            <div #modalBody id="modalBody" class="modal-body">
                <p>Date:<br><span style = "padding-left:15px;" #modalDate></span></p>
                <p>Location:<br><span style = "padding-left:15px;" #modalLocation></span></p>
                <p>Description:<br><span style = "padding-left:15px;" #modalDescription></span></p>
            </div>
        </div>
    </div>
</div>



