<app-request-upload *ngIf="fileToUpload!=null" [fileToUpload]="this.fileToUpload" [showUploadModal]="showUploadModal"></app-request-upload>
<app-request-viewer [(showViewerModal)]="showViewerModal" [(manifestHtml)]="mainfestHtml"></app-request-viewer>

<div class = "outer">
    <div class="inner">
        <div class="container">

            <!-- Title -->
            <div class="row">
                <h1 class="black-text text-darken-3 animated fadeIn fast">
                    <b>Requests</b>
                </h1>
            </div>

            <!-- File Upload -->
            <div class="form-group">
                <input type="file"
                       accept="application/pdf"
                       id="file"
                       (change)="handleFileInput($event.target.files)">

            </div>
         
            <!-- Document Acordian -->
            <p-accordion *ngIf="this.requests.length > 0" class="" id="starred-projects">
                <p-accordionTab *ngFor="let currCategory of listOfCategories" header="{{ currCategory }}" StyleClass="acc-tab" [selected]="true">
                    <div class="card-container">
                        <ng-container *ngFor="let request of this.requests; let i = index">
                            <a *ngIf="request.category == currCategory" class="card animated zoomIn faster col s10 offset-s1 m5 l5 flex" [ngClass]="{ 'offset-l3': i % 3 !== 0, 'offset-m3': i % 3 !== 0 }" (click)="showFile(request)" target="_blank">
                                <div class="card-content light-blue lighten-5 light-blue-text text-darken-3">
                             <span class="card-title">
                                <div class="card-title-content">
                                   <h5 class="project-title">{{ request.friendlyName }}</h5>
                                   <span *ngIf="request" class="badge grey darken-3 white-text hide-on-med-and-down">
                                       <i class="" aria-hidden="true"></i>{{ request.name }}
                                   </span>
                                </div>
                             </span>
                                    <p class="project-description flow-text">{{ request.description }}</p>
                                </div>
                            </a>
                        </ng-container>
                    </div>
                </p-accordionTab>
            </p-accordion>

            <ng-template #elseBlock>
                <div class="card-panel animated zoomIn faster">
                    <p class="not-found-title">projects not found</p>
                </div>
            </ng-template>
        </div>


        <ul>
            <li>Each request should be in a form uploaded to requests database</li>
            <li>Once form is filled an email will be sent to approprate people with form attached</li>
            <li>Forms should be able to be uploaded and configured via database for flexibility</li>
        </ul>

    </div>
</div>



