.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rsp {
  min-width: 100%;
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.header {
  background-image: url(src/assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 25vh;
  padding-bottom: 12vh;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0 0 8px 3px #000;
  transform: translateY(-120px);
}

h2 {   text-shadow:5px 4px 2px #000013;}

.left-align-text {
  text-align: left;
}

h4.white-text.center-align {
  border-bottom: white;
  border-bottom-style: solid;
  padding-bottom: 10px;
}

.collapsible-body {
  border-bottom: none;
  background: var(--color-secondary);
}
.collapsible-header {
  background-color: var(--color-secondary);
  transition: all 150ms ease-in-out;
  border-top: 4px solid white !important;
  border-bottom: 0px solid white !important;
}
.collapsible-header:hover {
  background-color: rgba(2, 119, 189, 0.15);
  transition: all 150ms ease-in-out;
}
td a {
  text-decoration: none;
}
td a:hover {
  text-decoration: underline;
}
.cont .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0;
  margin-top:50px;
  justify-content: center;
}
#description {
  margin-bottom: 0px !important;
}
#downloadButton:hover {
  transform: translate(0.75rem, 0.75rem);
}
#downloadButton {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0px;
  transition: transform 150ms ease-in-out !important;
  justify-content: center;
  margin-bottom: 1rem;
}
.card-link {
  background-color: var(--color-primary) !important;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
}

.inner {
  width: 99%;
  padding: 10px 10px 30px 30px;
  overflow-wrap: break-word;
  margin:auto;
  transform: translateY(-180px);
}
.outer {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: auto;
  background-color: #1a2023;
}

table {
  margin-left: auto;
  margin-right: auto;
}


h5 {
  font-size: 1.4rem;
}

.about-img {
  border-radius: 0%;
  margin-right: 30px;
}

.service-categories {
  padding-top: 3em;
  padding-bottom: 3em;
  background-size: cover;
}

p { font-size: large;}

.service-categories .card {
  height: 32rem;
  border-radius: 25px;
  transition: all .3s ease-in-out;
}

.service-categories .card-title {
  padding-top: 1em;
}

.service-categories a:hover {
  text-decoration: none;
}

.service-card {
  background: #393f48;
  border: 0;
}

.service-card:hover {
  background: rgba(72, 88, 104, 1);
  box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2)
}

.fa {
  color: white;
}
.card-block {
  text-align: center;
  padding: 20px 10px 10px 10px;
  overflow: hidden;
  height:inherit;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}
