/* General Reset */
body {
    margin: 0;
    padding: 0;
}

/* Outer and Inner Containers */
.outer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: auto;
    background-color: #1a2023;
}

.inner {
    background-color: #ffffffe0;
    border-radius: 25px;
    width: 98%;
    transform: translate(0%,-50px);
    padding: 10px 10px 30px 30px;
    box-shadow: 0 0 100px 11px #0006;
    overflow-wrap: break-word;
    margin:auto;
}

/* Header */
.header {
    background-image: url("src/assets/calendar.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 25vh;
    padding-bottom: 12vh;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 0 8px 3px #000;
    transform: translateY(-70px);
}

h2 {
    text-shadow: 2px 2px #000000;
    }

/* Event Section */
.events {
    position: relative;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    justify-self: center;
}

.page-container {
    display:flex;
}

.calendar {
    width: 50%;
}

.events ul {
    transform: translateY(-3%);
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
}

.events ul li {
    display: flex;
    list-style: none;
    background: #fff;
    box-sizing: border-box;
    height: 85px;
    margin: 10px 0;
}

.events ul li .time {
    position: relative;
    padding: 20px;
    background: #262626;
    box-sizing: border-box;
    width: 24%;
    height: 100%;
    float: left;
    text-align: center;
    transition: .5s;
}

.events ul li:hover .time {
    background: #0b6bb8;
}

.events ul li .time h2 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}

.events ul li .time h2 span {
    font-size: 19px;
}

.events ul li .details {
    text-align-last: center;
    background: #ffffff;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    float: left;
    color: black;
    font-weight: bolder;
    padding-top: 15px;
}

.events ul li .details h3 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.events ul li .details p {
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
}

.events ul li .details a {
    display: table;
    text-decoration: none;
    padding: 10px 30px;
    border: 1.5px solid #262626;
    margin-top: 40px;
    font-size: 18px;
    transition: .5s;
}

.events ul li .details a:hover {
    background: #0b6bb8;
    color: #fff;
    border-color: #000000;
}

/* Event Time */
.eventTime {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    max-width: 41px;
    background-color: #0b6bb8;
    color: white;
    font-weight: bold;
    height: 100%;
    text-align: center;
    margin-right: -7px;
    padding-left: 45px;
}

/* Media Queries */
@media (max-width: 896px) {
    .events {
        width: 100%;
    }
    .calendar {
        width: 100%;
    }
    .page-container {
        display: inline;
    }

    .events ul {
        padding: 40px 10px 10px 10px;
    }

}
