
@media (min-width: 1024px) {
    .card-content:hover {
        color: darkblue !important;
    //background-color: var(--color-primary) !important;
    }
}

.inner {
    background-color: #ffffffe0;
    border-radius: 25px;
    width: 98%;
    transform: translate(0%,30px);
    padding: 10px 10px 30px 30px;
    box-shadow: 0 0 100px 11px #0006;
    overflow-wrap: break-word;
    margin:auto;
}

.form-group {
    margin-bottom:10px;
}

.card-container {
    #display: flex;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}


.main {
    background-color: rgba(255,255,255,.8);
    width: 400px;
    height: 330px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    transform: translate(4%,30px);
}

.sign {
    padding-top: 40px;
    color: #073566;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 30px;
}

.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #073566, #362fa5);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}


a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

.outer {
    background: url(src/assets/background.jpg) no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1000px;
}



@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}


