<div class = "outer">
    <div class="inner">
        <div class = "container">
            <div class="row">
                <div class="col s12 animated bounceInLeft">
                    <div class="">
                        <h1 class="light-blue-text text-darken-3"><b>Community Amenities</b></h1>
                    </div>
                </div>
            </div>

        <table>
            <thead>
            <tr class = "icons">
                <th class="center-align">
                    <img src = 'assets/swimming-pool-icon-png-3.png' style="width:100px;">
                </th>
                <th class="center-align">
                    <img src = 'assets/golf-free-sports-icons-svg-psd-eps-amp-icon-font-golf-sport-icon-11553530290xh4hs61lou.png' style="width:75px;">
                </th>

            </tr>

            <tr>
                <th colspan="1" class="center-align">
                    <h4>Community Pools</h4>
                </th>
                <th colspan="2" class="center-align">
                    <h4>Basketball / Tennis Courts</h4>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <h5>
                        Mill Creek residents in good standing (not owing any money to the Association for past dues or violation fines) have access to two pools.  If you are in need of a pool key, please contact Jayme Austin from
                        Tolley Community Management at jayme@tolleycm.com.
                    </h5>
                    <h5>
                        The pools are located at:  <br>
                        The Manor: 100 Oak Haven Drive<br>
                        The Falls: 118 Mill Creek Drive
                    </h5>

                </td>
                <td>
                    <h5>
                        The Mill Creek Community offers a world class double court tennis court in The Falls and a world class quad court basketball court in The Manor.
                        Reservations are not required to play basketball, however, you do have to be a Mill Creek resident in good standing with a valid pool key.
                        You will need an activated pool key in order to access either the basketball or tennis courts.
                    </h5>
                </td>
            </tr>

            <tr>
                <td>
                    <h5><b> Hours of Operation: 6am - 10pm Daily</b></h5>
                    <h5>Pool Opens Mother's Day Weekend</h5>
                </td>
                <td>
                    <h5><b> Hours of Operation: 6am - 10pm Daily </b></h5>
                </td>
            </tr>

            <tr>
                <td>
                    <h5><b>Pool Rules:</b></h5>
                    <ul>
                        <li>In April 2021, Governor Kemp lifted most of the requirements for Covid-19, including community swimming pools. However, Mill Creek residents are still cautioned to be aware of the spread of Covid-19 and should take recommended precautions, including washing hands frequently in the bathrooms and maintaining a safe distance from others.</li>
                        <li>Mill Creek Residents are Welcome to Allow Guests into the Pool Areas, but residents MUST remain with their guests while they are using the pool amenities.</li>
                        <li>There are no longer any restrictions on bringing in balls, frisbees, NERF toys, water noodles, pool floats, diving toys, or swim toys in general. However, Mill Creek Residents who do bring toys into the pool areas will be responsible for removing those days or they will be thrown away without notice.</li>
                        <li>Mill Creek Residents are Permitted to Host their own Birthday Parties or Swim Parties, BUT you must clean up any decorations, especially balloons and throw away food and drink items. NO GLITTER OR NAIL POLISH OR PAINTS OF ANY KIND IN THE POOL AREAS AT ANYTIME! Also, pools cannot be reserved for exclusive use for a resident birthday or swim party UNLESS it’s a party hosted by the Mill Creek Social Events Committee.</li>
                        <li>Any Mill Creek Resident caught on camera holding or propping open a pool gate to allow others in WITHOUT a pool key will be subject to a $200 fine and a 60 suspension of amenity privileges by having their pool keys DEACTIVATED!</li>
                        <li>Parents/guardians must ensure that infant/children using pool do not have a diarrheal illness and wear swim diapers at all times while in the pool deck area.</li>
                        <li>All infants/children not toilet trained and incontinent individuals must wear swim diapers and plastic swim pants at all times. Violators of this rule will be fined for the pool shock treatment/cleaning fees.</li>
                        <li>No GLASS CONTAINERS OF ANY KIND, such as beer or soda bottles, sharp objects or hazardous materials allowed in or around pool areas. Violators will be held responsible for all glass vacuuming and pool filling fees to restore the pools back to a safe for bare feet condition.</li>
                        <li>No animals, including dogs and cats, other than service animals will be allowed in the pool areas at any time. Violators of this rule will be removed from the pool area and lose their pool privileges for 30 days for each violation.</li>
                        <li>Shower and rinse thoroughly before entering the pool to remove body oils, sweat, beach sand and other materials. This is especially true if you are coming from a local beach at a nearby lake.</li>
                        <li>No food or drink allowed within five feet of the pool water.</li>
                        <li>Children under the age of 14 must be accompanied by an adult or the children will be required to leave the pool areas immediately.</li>
                        <li>Swimmers with open wounds, skin conditions, or any other communicable conditions are not allowed in the pool water.</li>
                        <li>Swimming alone is not encouraged. Swim at your own risk.</li>
                        <li>Swimmers shall wear proper bathing suit attire at all times. No skinny-dipping permitted at any time.</li>
                        <li>Absolutely no spitting, spouting, or blowing one’s nose into the pool water.</li>
                        <li>Absolutely no running or rough play in the pool areas.</li>
                        <li>The pools are open from 6 a.m. until 10 p.m. each day. Being inside any of the pool areas before 6 a.m. and after 10 p.m. will constitute trespassing, unless express permission from the Board of Directors.</li>
                        <li>The maximum number of swimmers allowed in each pool area is 300 people.</li>
                        <li>A first aid kit is available at each pool house for minor medical emergencies that may occur in or at the pool areas.</li>
                        <li>An emergency phone is located in the hallway of the pool house. Please DO NOT take this phone off the hook and leave the handset dangling!</li>
                        <li>The certified pool operator at this facility is the Mill Creek Community Association. There are no posted lifeguards, so swimmers swim at their own personal risk and safety.</li>
                    </ul>
                </td>
                <td>
                    <h5><b>Basketball/Tennis Court Rules:</b></h5>
                    <ul>
                    <li>Basketball and tennis courts are intended for Mill Creek residents and their guests for basketball and tennis play only. All other activities that the courts are not designed for are strictly prohibited.</li>
                    <li>No animals, including dogs and cats, other than service animals are permitted on the courts at all times.</li>
                    <li>Appropriate court shoes must be worn at all times on the courts. Cleats and spikes are strictly prohibited, as they can do do major damage to the court’s surfaces.</li>
                    <li>Children under the age of 12 must be accompanied by an adult, or the children will be removed from the courts immediately.</li>
                    <li>Please be respectful of other players on the courts. No loud music or heckling of other players is permitted.</li>
                    <li>The following types of activities are strictly forbidden on the courts. Anyone caught violating this rule is subject to losing court privileges at the discretion of the Board of Directors and can be fined for damages to the courts, nets, and equipment.</li>
                    <li>No skateboards, bicycles, roller blades, roller skates, or any other court surface damaging activities allowed! Violators will be immediately asked to leave the courts.</li>
                    <li>No other sports equipment permitted on the courts.</li>
                    <li>No birthday parties, social mixers, or food displays permitted on the courts at any time.</li>
                    <li>No magic markers, crayons, spray paint, or other damaging ink instruments will be permitted. Anyone caught vandalizing the courts will be fined and prosecuted to the fullest extent that Cherokee County laws allow</li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>

        </div>
    </div>
</div>
