<div class = "outer">
    <div class="inner">
        <div class = "container">
            <div class="row">
                <div class="col s12 animated fadeIn center-align">
                    <h3 class="text-darken-3 center-align">Community Amenities</h3>
                </div>
            </div>

        <table>
            <thead>
            <tr>
                <th colspan="1" class="center-align"><h5>Community Pools</h5></th>
                <th colspan="2" class="center-align"><h5>Basketball / Tennis Courts</h5></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <h5><b>Pools open Mother's day weekend on Friday, May 6th, 2022 at 10:00 a.m. </b> <br><br> Pool Hours will be from 6 a.m. until 10 p.m. daily.
                        Only Mill Creek residents in good standing (not owing any money to the Association for past dues or violation fines) will have
                        their pool keys activated for gate access to both pools. If you are in need of a pool key, please contact Ivey Ferguson from
                        Tolley Community Management at ivey@tolleycm.com
                    </h5>
                </td>
                <td>
                    <h5>
                        The tennis courts can be reserved for play using <a href = "http://reservemycourt.com">this link</a> . To obtain a new account on the court reservation system you must be a Mill
                        Creek resident in good standing and contact Shannon.Thompson@millcreekhoa.org to receive a 4-digit code that will be used during the registration process.

                        <br><br>
                        Please visit Mill Creek Tennis and Basketball Rules for complete usage rules to play on the courts. Hours of operation are 6 am until 10 pm daily throughout the entire year.
                        You will need an activated pool key in order to access either the basketball or tennis courts.
                    </h5>
                </td>
            </tr>
            </tbody>
        </table>

        </div>
    </div>
</div>
