<!-- The Modal -->
<p-confirmDialog key="confirm"><input type="text"></p-confirmDialog>
<div class="modal fade" [ngClass]="{'show-modal': showViewerModal}" id="myModal" class="modal" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <!-- Modal content -->
    <div class="modal-content">
        <span (click)="this.showViewerModalChange.emit(false)" class="close">&times;</span>

        <ng-container *ngIf="this.isOnFinalStep == false">
            <p>1 of 2</p>

            <div class = "pdfView">
            <ngx-extended-pdf-viewer [showOpenFileButton]="false"
                                     [showSidebarButton]="false"
                                     [showRotateButton]="false"
                                     [showPropertiesButton]="false"
                                     [zoom]="125"
                                     height="102"
                                     (formDataChange)="dataChange($event)"
                                     [base64Src]="b64"
                                     #pdfViewer>

            </ngx-extended-pdf-viewer>

        </div>

        <input class = "hiddendiv"
               type="file"
                   accept="application/pdf"
                   id="file"
                   (change)="handleFileInput($event.target.files)">
        </ng-container>

        <ng-container *ngIf="this.isOnFinalStep">
            <p>2 of 2</p>
            <div class ="container">
                <label for = "requestName">* Name: </label>
                <input type="text" id="requestName" [(ngModel)]="requestName">

                <label for = "requestEmail">* Email Address: </label>
                <input type="email" id="requestEmail" [(ngModel)]="this.requestEmail">
            </div>
        </ng-container>




        <div class = "modal-footer">
            <ng-container *ngIf="this.isOnFinalStep == false">
                <button class = "btn btn-primary grey" style = "margin-right:5px" onclick="document.getElementById('file').click();">Attach a Document</button>
                <button class = "btn btn-primary green" style = "" (click)="this.goToFinalStep()">Next Step</button>
            </ng-container>
            <ng-container *ngIf="this.isOnFinalStep == true">
                <p-progressSpinner *ngIf="isLoading" class="center center-align"></p-progressSpinner><br>
                <button class = "btn btn-primary red" style = "" (click)="submitDocument()" type="submit">Submit</button>
            </ng-container>


        </div>


    </div>
</div>
