<!-- The Modal -->
<p-confirmDialog key="confirm"></p-confirmDialog>


<div class="modal fade" [ngClass]="{'show-modal': showViewerModal}" id="myModal" class="modal" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <!-- Modal content -->
    <div class="modal-content">
        <span (click)="this.showViewerModalChange.emit(false)" class="close">&times;</span>

        <div class = "pdfView">
            <ngx-extended-pdf-viewer [showOpenFileButton]="false"
                                     [showSidebarButton]="false"
                                     [showRotateButton]="false"
                                     [showPropertiesButton]="false"
                                     [zoom]="125"
                                     height="102"
                                     (formDataChange)="dataChange($event)"
                                     [base64Src]="b64"
                                     #pdfViewer>

            </ngx-extended-pdf-viewer>

        </div>

        <input type="file"
                   accept="application/pdf"
                   id="file"
                   (change)="handleFileInput($event.target.files)">

        <div class = "center-align">
            <button class = "btn btn-primary red" (click)="submitDocument()">Submit</button>
        </div>
    </div>
</div>
