<!-- The Modal -->
<div class="modal fade" [ngClass]="{'show-modal': showViewerModal}"  id="myModal" class="modal" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <!-- Modal content -->
    <div class="modal-content">
        <span (click)="this.showViewerModalChange.emit(false)" class="close">&times;</span>
        <div class = "pdfView">
            <ngx-extended-pdf-viewer [showOpenFileButton]="false"
                                     [showSidebarButton]="true"
                                     [showRotateButton]="true"
                                     [showPropertiesButton]="false"
                                     [showFindButton] = "true"
                                     [textLayer]="true"
                                     [theme]="'light'"
                                     [zoom]="'page-width'"
                                     height="115"
                                     [base64Src]="src"
                                     #pdfViewer>

            </ngx-extended-pdf-viewer>

        </div>
    </div>
</div>
