<app-newsletter-upload *ngIf="fileToUpload!=null" [fileToUpload]="this.fileToUpload" [showUploadModal]="showUploadModal"></app-newsletter-upload>

<div class = "outer">
    <img class = 'rsp centered' src="./assets/background.png">
    <div class="inner">
        <div class = "page-container">
            <div class="leftBox">
                <!-- File Upload -->
                <div class="form-group center-align" *ngIf="isAdmin">
                    <input type="file"
                           style="margin: 10px;"
                           accept="application/pdf"
                           id="file"
                           (change)="handleFileInput($event.target.files)">
                </div>

                <div class = "pdfView">
                    <ngx-extended-pdf-viewer [showOpenFileButton]="false"
                                             [showSidebarButton]="false"
                                             [showRotateButton]="false"
                                             [showPropertiesButton]="false"
                                             [base64Src]="src"
                                             #pdfViewer>

                    </ngx-extended-pdf-viewer>
                </div>

                <!-- Newsletter Acordian -->
                <p-accordion *ngIf="this.documents.length > 0" class="" id="starred-projects">
                    <p-accordionTab *ngFor="let currCategory of listOfCategories; let j = index" header="{{ currCategory }}" StyleClass="acc-tab" [selected]="false">
                        <div class="card-container">
                            <ng-container *ngFor="let document of this.documents; let i = index">
                                <a *ngIf="document.category == currCategory" class="card animated zoomIn faster col s10 offset-s1 m5 l5 flex" [ngClass]="{ 'offset-l3': i % 3 !== 0, 'offset-m3': i % 3 !== 0 }" (click)="showNewsletter(document)" target="_blank">
                                    <div class="card-content light-blue lighten-5 light-blue-text text-darken-3">
                             <span class="card-title">
                                <div class="card-title-content">
                                   <h5 class="project-title">{{ document.friendlyName }}</h5>

                                </div>
                             </span>
                                        <p class="project-description flow-text">{{ document.description }}</p>
                                    </div>
                                </a>
                            </ng-container>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>

            <div class="events">
                    <ul>
                        <app-calendar (communityEvents)="this.events"></app-calendar>
                        <li *ngFor="let event of events">
                            <div class="time">
                                <h2>{{event.startDate.getDate()}}<br><span>{{monthNames[event.startDate.getMonth()]}}</span></h2>
                            </div>
                            <div class = "eventTime">
                                <p>{{generalService.formatTime(event.startDate)}}</p>
                            </div>
                            <div class="details">
                                <h5>{{event.eventName}}</h5>
                            </div>
                            <div style="clear: both;"></div>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</div>
