.left-align-text {
    text-align: left;
}
.collapsible-body {
    border-bottom: none;
    background: var(--color-secondary);
}
.collapsible-header {
    background-color: var(--color-secondary);
    transition: all 150ms ease-in-out;
    border-top: 4px solid white !important;
    border-bottom: 0px solid white !important;
}
.collapsible-header:hover {
    background-color: rgba(2, 119, 189, 0.15);
    transition: all 150ms ease-in-out;
}
td a {
    text-decoration: none;
}
td a:hover {
    text-decoration: underline;
}
.container .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0;
}
#description {
    margin-bottom: 0px !important;
}
#downloadButton:hover {
    transform: translate(0.75rem, 0.75rem);
}
#downloadButton {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0px;
    transition: transform 150ms ease-in-out !important;
    justify-content: center;
    margin-bottom: 1rem;
}
.card-link {
    background-color: var(--color-primary) !important;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
}

.inner {
    background-color: #ffffffe0;
    border-radius: 10px;
    width: 96%;
    transform: translate(2%,30px);
    padding: 10px 10px 30px 30px;
    box-shadow: 0 0 100px 11px #0006;
    overflow-wrap: break-word;

}

.outer {
    background: url(src/assets/background.jpg) no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1000px;
}


/* Styling the body */
body {
    margin: 0;
    padding: 0;
}

/* Styling section, giving background
    image and dimensions */
section {
    width: 100%;
    height: 100vh;
}

/* Styling the left floating section */
.leftBox {
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

/* Styling the background of
    left floating section */
.leftBox .content {
    padding: 5px;
    transition: .5s;
}


/* Styling the header of left
    floating section */
.leftBox .content h1 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-transform: uppercase;
}

/* Styling the paragraph of
    left floating section */
.leftBox .content p {
    margin: 10px 0 0;
    padding: 0;
}

/* Styling the three events section */
.events {
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
    box-sizing: border-box;
}

/* Styling the links of
the events section */
.events ul {
    transform: translateY(-3%);
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
}

/* Styling the lists of the event section */
.events ul li {
    display: flex;
    list-style: none;
    background: #fff;
    box-sizing: border-box;
    height: 85px;
    margin: 10px 0;
}

/* Styling the time class of events section */
.events ul li .time {
    position: relative;
    padding: 20px;
    background: #262626;
    box-sizing: border-box;
    width: 24%;
    height: 100%;
    float: left;
    text-align: center;
    transition: .5s;
}

/* Styling the hover effect
    of events section */
.events ul li:hover .time {
    background: #e91e63;
}

/* Styling the header of time
    class of events section */
.events ul li .time h2 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}

/* Styling the texts of time
class of events section */
.events ul li .time h2 span {
    font-size: 19px;
}

/* Styling the details
class of events section */
.events ul li .details {
    text-align-last: center;
    background: #ffffff;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    float: left;
    color: black;
    font-weight: bolder;
    padding-top:15px;
}

/* Styling the header of the
details class of events section */
.events ul li .details h3 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

/* Styling the lists of details
class of events section */
.events ul li .details p {
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
}

/* Styling the links of details
class of events section */
.events ul li .details a {
    display: table;
    text-decoration: none;
    padding: 10px 30px;
    border: 1.5px solid #262626;
    margin-top: 40px;
    font-size: 18px;
    transition: .5s;
}

/* Styling the details class's hover effect */
.events ul li .details a:hover {
    background: #e91e63;
    color: #fff;
    border-color: #e91e63;
}


@media only screen and (min-width: 993px) {
    .container {
        width: 100%;
    }
}


.pdfView {
    margin-top:0px;
    width:100%;
    display: inline-block;
    height: 60%;
}

.project-title {
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    place-content: space-between;
    margin: 0;
}
.project-description {
    font-size: 1rem;
    font-style: italic;
}

.tabs li a {
    font-weight: bold;
    transition: 150ms all ease-in-out;
    color: var(--color-primary) !important;
    #background-color: var(--color-secondary) !important;
}


@media (min-width: 1024px) {
    .card-content:hover {
        color: darkblue !important;
    //background-color: var(--color-primary) !important;
    }
}
.card-content {
    transition: all 150ms ease-in-out !important;
    height: 10rem;
    display: contents;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}

.card {
    background-color: var(--color-primary) !important;
    border-radius: 0;
    padding: 0;
    margin-left: 5px;
    marfin-right: 5px;
}
.card-title-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.badge {
    display: flex;
    align-items: center;
    min-width: auto;
}
.badge i {
    margin-right: 0.25rem;
}
span.badge.new {
    border-radius: 20px;
    padding: 0 0.5rem;
}
.tabs li a {
    font-weight: bold;
    transition: 150ms all ease-in-out;
    color: var(--color-primary) !important;
    #background-color: var(--color-secondary) !important;
}
span.badge.new {
    text-transform: lowercase;
}
.tab a {
    cursor: pointer;
}
.card-panel {
    background-color: var(--color-secondary);
}
.card-panel .not-found-title {
    text-align: center;
    font-style: italic;
    color: var(--color-primary);
}

.page-container {
    display: flow-root;

}

.eventTime {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    max-width: 41px;
    background-color: #e91e63;
    color: white;
    font-weight: bold;
    height: 100%;
    text-align: center;
    margin-right: -7px;
    padding-left: 45px;
}
