<div class="animated fadeIn"><img class="rsp centered" src="assets/background.jpg">

  <div class="centered center home-text">
    <h1 class="text-darken-3 grey-text animated fadeInDown">{{ titleName }}</h1>

    <div class="link-container animated fadeIn delay-1s">
      <div class="flow-text">
        <a class="sublink white-text text-darken-3" href="/about">Community Information</a>
      </div>

        <div class="flow-text">
          <a class="sublink white-text text-darken-3" href="/amenities">Amenities</a>
        </div>

      <div class="flow-text">
        <a class="sublink white-text text-darken-3" href="/announcements" routerlink="/announcements">Announcements</a>
      </div>

      <div class="flow-text">
        <a class="sublink white-text text-darken-3" href="/documents" routerlink="/documents">Documents</a>
      </div>

      <div class="flow-text">
        <a class="sublink white-text text-darken-3" href="/requests" routerlink="/requests">ARC Requests</a>
      </div>

      <div class="flow-text">
        <a class="sublink white-text text-darken-3" href="/contact" routerlink="/contact">Contact Us</a>
      </div>

      <div class="flow-text">
        <a class="sublink white-text text-darken-3" href="https://byr.cincwebaxis.com/millcreekcommunity">Resident Portal</a>
      </div>

    </div>

  </div>
</div>

<div class="admin">
  <footer>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/admin"></a></li>
    </ul>
  </footer>
</div>
