<div class="animated fadeIn"><img class="rsp centered" src="assets/background.jpg">
  <div class="centered center home-text">
    <h1 class="text-darken-3 grey-text animated pulse delay-1s">{{ titleName }}</h1>

    <div class="link-container">
      <div class="flow-text">
        <a class="sublink white-text text-darken-3" href="/about">About the Community</a>
      </div>

        <div class="flow-text">
          <a class="sublink white-text text-darken-3" href="/amenities">Amenities</a>
        </div>

      <div class="flow-text">
        <a class="sublink white-text text-darken-3" href="/announcements" routerlink="/announcements">Announcements</a>
      </div>

      <div class="flow-text">
        <a class="sublink white-text text-darken-3" href="/documents" routerlink="/documents">Documents</a>
      </div>

      <div class="flow-text">
        <a class="sublink white-text text-darken-3" href="/requests" routerlink="/requests">Requests</a>
      </div>

      <div class="flow-text">
        <a class="sublink white-text text-darken-3" href="/contact" routerlink="/contact">Contact Us</a>
      </div>

    </div>

  </div>
</div>
